
.socialcontainer {
    border:5px solid hotpink;
    margin:1em;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    
}

#LinkedIn, #TheEmpowermentCodes, #GitHub {
    width:80%; 
    height: 80%;    
}

.infoContainer {
    border: solid;
    display: flex;
    height: 20vh;
    justify-content: space-between;
}

.nav1 {
    border: solid hotpink;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.Social{
Height: 80px;
border: solid blue;
    margin: 1em;
}

.nav1-1 {
    /* border: 5px solid blue; */
    border-top-left-radius: nav1-1;
    /* margin-right: auto; */
    margin: 0 auto;
    height: auto;
    width: 300px;
    display: inline-block;
}

.sectionContainer {
    border: solid blue;
    margin: 1em;
}

.sectionContainer1 {
    border: solid hotpink;
    margin: 1em;
    flex-wrap: wrap;
}


.nav2 {
    border: solid blue;
    margin: 1em;
    flex-wrap: wrap;
}

.nav2-1 {
    border: solid hotpink;
    margin: 1em;
   
}

#sp2-5 {
    margin-left: auto;
}

.nav3 {
    border: solid;
    margin: 1em;
    display: flex;
    justify-content: end;
}

.nav3-1 {
    border: solid;
    margin: 1em;
    width: 10%;
}

#ProfilePic {
    height: 500px;
}

.box {
    width: 100px;
    height: auto;
}

